<h1> MY SHOW PAGE </h1>

<br>
<br>

<h2> "MY WAY" - SONG </h2>
<p>This "My Way" Song Added by: <%= @my_song.user.email%> </p>

<h4>Renamed: <%= @my_song.try(:rename) || "N/A"  %> </h4>
<h4>Make in the style of: <%= @my_song.try(:style_of_remake) || "N/A"  %> </h4>
<h4>Note: <%= @my_song.try(:add_note) || "N/A"  %> </h4>

<% if @my_song.user == current_user %>
<a href="/my_songs/<%= @my_song.id %>/edit">Edit "My Way" Song</a>
<% end %>

<br>
<br>

<h2> The Original Song </h2>

<h4>Original: <%= @song.try(:song) || "N/A" %></h4>
<h4>Musician: <%= @song.try(:musician) || "N/A" %></h4>
<h4>Genre: <%= @song.try(:genre) || "N/A" %></h4>
<h4>Year: <%= @song.try(:year) || "N/A" %></h4>

<% if @my_song.user == current_user %>
<form method="POST" action="/my_songs/<%= @my_song.id %>">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="DELETE SONG">
</form>
<% end %>